{% extends 'layouts/admin.html.twig' %}
{% block title %} Админ Панель {% endblock %}
{% block header %} {% include 'parts/admin_header.html.twig' %} {% endblock %}
{% block content %}
    <div class="col-lg-4"></div>
    <div class="col-lg-7">
        <div class="col-lg-2"></div>
        <div class="card col-lg-7 mt-3">
            <div class="card-header">
                <h5 class="text-center">Пользователи</h5>
            </div>
            <div class="card-body">
                <div>
                    <table class="table table-stripped">
                        <thead>
                            <th>id</th>
                            <th>Имя пользователя</th>
                            <th>Email</th>
                            <th>Дата рождения</th>
                        </thead>
                        <tbody>
                        {%  for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.birthday | date('Y-m-d') }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}